
@font-face {
     font-family: 'Helvetica Neue';
     src: url('./fonts/HelveticaNeue.pfb') format("truetype");
}

body {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Helvetica Neue';
}
